@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.rotobo {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

span {
  display: block;
}

.note {
  margin: 10px 0px;
  padding: 10px;
  background-color: #0092ca;

  width: 80%;
  max-width: 500px;
  cursor: pointer;
  display: flex;
}
.note a {
  flex: 1;
  color: white;
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: #290f54;
  padding-top: 3%;
}
.note span:first-child {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 5px;
}
.note span:last-child {
  font-size: 0.7em;
  opacity: 0.6;
}
.input {
  width: 80%;
  min-height: 50px;
  background-color: #003c89;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 20px;
}
.input input,
.input textarea {
  flex: 1;
  min-height: 100%;
  padding: 10px;
  background: none;
  outline: none;
  background-color: transparent;
  color: white;
  border: none;
}
.notes-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00bbcf;
  cursor: pointer;
}
.input textarea {
  min-height: 100px;
  height: 180px;
  max-height: 300px;
  resize: vertical;
}
.btn {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #00bbcf;
  padding: 10px;
  display: block;
  font-weight: 600;
  color: white;
  cursor: pointer;
  max-width: 500px;
  border: none;
  outline: none;
}
.btn:disabled {
  opacity: 0.2;
}
.view-note {
  padding: 20px;
  color: white;
}
.view-note p {
  opacity: 0.8;
  font-size: 0.9em;
  margin-top: 20px;
  max-width: 900px;
}
.view-note span {
  opacity: 0.6;
  font-size: 0.7em;
  margin-top: 20px;
}
.norecent {
  font-style: italic;
  color: white;
  text-align: center;
  opacity: 0.7;
}
